body{
    background: url(https://t4.ftcdn.net/jpg/03/15/25/45/360_F_315254526_BguE2UPiesByZ4CA7HQoMAASbWeltDIv.jpg);
}

img{
    height: 90px;
    width: 140px;
    margin-left: 200px;
}

.imagen{
    margin: 0;
}

.scroll{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
}

// .card{
//     width: 25rem;
//     height: 20rem;
// }

.home{
    color: yellow;
}
h1{
    color: red;
}

.footer{
    color: yellow;
}

.main{
    background-color: white;
    margin: auto;
    width: 50%;
}