body{
    background: url(https://t4.ftcdn.net/jpg/03/15/25/45/360_F_315254526_BguE2UPiesByZ4CA7HQoMAASbWeltDIv.jpg);
}

img{
    height: 90px;
    width: 140px;
    margin-left: 200px;
}

.imagen{
    margin: 0;
}
.scroll {
    // overflow: auto;
    // white-space: nowrap;
    // overflow-x: scroll;
    // overflow-y: hidden;
    // white-space:nowrap
    display: flex;
    flex-direction: row;
    // transform: rotate(90deg) translateY(-100vh);
    // transform-origin: top left;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;  
}
.cards{
    display: inline-block;
}

h1{
    color: yellow;
}

.footer{
    color: yellow;
}